<div class="feed-toggle">
  <ul class="nav nav-pills outline-active">
    <li class="nav-item" *ngIf="isLoggedIn$|async">
      <a routerLinkActive="active" routerLink="/feed" class="nav-link">Your Feed</a>
    </li>
    <li class="nav-item">
      <a routerLink="/" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Global
        Feed</a>
    </li>
    <li class="nav-item" *ngIf="tagName">

      <a routerLinkActive="active" [routerLink]="['/tags', tagName]" class="nav-link"><i
        class="ion-pound"></i>{{tagName}}</a>
    </li>
  </ul>
</div>
